<!-- Footer -->
<footer class="container center stormy padding-32 hover-evening">

    {% include "includes/social.html" %}

    <hr />

    <div>
        <small>
            Copyright &copy; 2018 xDjSkaly | Website crafted by <a href="#" title="Kevin Michael Website" target="_blank" class="hover-text-sunset">Kevin Michael</a> | Powered by <a href="https://www.python.org/" title="Python" target="_blank" class="hover-text-sunset">Python</a> and <a href="https://blog.getpelican.com/" title="Pelican" target="_blank" class="hover-text-sunset">Pelican</a>
        </small>
    </div>
</footer>
