<!-- Footer -->
<footer class="container center dark-grey padding-32 hover-evening">

    {% include "includes/social.html" %}

    <small>&copy; xDjSkaly 2016 | Website crafted by <a href="#" title="Kevin Michael Website" target="_blank" class="hover-text-sunset">Kevin Michael</a> | Powered by <a href="https://www.python.org/" title="Python" target="_blank" class="hover-text-sunset">Python</a> and <a href="https://blog.getpelican.com/" title="Pelican" target="_blank" class="hover-text-sunset">Pelican</a> </small>
</footer>
