<!-- Navbar (sit on top) -->
<header class="top {% if active_page == 'error' %}stormy{% endif %}">
    <nav class="bar" id="navBar">
        <button class="bar-item button text-white padding-large hide-medium hide-large" type="button" name="button" id="navMenu">
            <i class="fas fa-bars"></i>
        </button>
        <div class="hide-small" id="navItems">
            {% for name, link in MENUITEMS %}
                <a class="mobile bar-item button text-white hover-sunset padding-large" href="{{ link }}">{{ name }}</a>
            {% endfor %}
        </div>
    </nav>
</header>
