<div>
    <h4>{{ SOCIAL_WIDGET_NAME | default('Social') }}</h4>
    <ul class="ul bar">
        {% for name, link in SOCIAL %}
            <li class="mobile bar-item">
                <a class="{{ name|lower }}" href="{{ link }}">
                    <span>
                        {% if name|lower == 'email' %}
                            <i class="far fa-envelope"></i> {{ name }}
                        {% else %}
                            <i class="fab fa-{{ name|lower }}"></i> {{ name }}
                        {% endif %}
                    </span>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
