{% extends "base.html" %}
{% set active_page = page.show_as_selected %}

{% block title %}
    {{ SITENAME }} | {{ page.title }}
{% endblock title %}
{% block description %}
    {{ page.description }}
{% endblock description %}

{% block content %}
    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(page) }}

    <main>
        <article>
            {{ page.content }}
        </article>
    </main>

	{% if page.modified %}
		<p>
		Last updated: {{ page.locale_modified }}
		</p>
	{% endif %}
{% endblock %}
